:root {
	--main: rgba(49, 49, 67, 0.5);
	--full: rgb(49, 49, 67);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: Arial, Helvetica, sans-serif;
	background: black;
	color: white;
	width: 100%;
	height: 100%;
}

body {
	background-image: url("https://picsum.photos/1920/1080");
	background-size: cover;
	background-position: center center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(6px);
}
.mediaplayer {
	width: 100%;
	height: 100%;
	max-height: 880px;
	max-width: 1024px;
	background-color: var(--main);
	position: relative;
}

header {
	background-color: var(--full);
	text-align: center;
	line-height: 4rem;
}

header h1 {
	font-weight: 500;
	font-size: 1.4rem;
}

a {
	color: white;
	text-decoration: none;
}

.btn-back,
.submenu {
	width: 4rem;
	height: 4rem;
}

.btn-back span,
.submenu span {
	font-size: 28px;
	line-height: 4rem;
}

.btn-back {
	margin-left: 10px;
	float: left;
}

.submenu {
	float: right;
}

.flexcolumn {
	display: flex;
	align-content: space-between;
	flex-direction: row;
	height: calc(100% - 4rem);
}

.playlist {
	overflow-y: hidden;
	flex: 50%;
	border-right: 6px solid rgba(255, 255, 255, 0.5);
}

.player {
	padding: 2rem;
	flex: 50%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background: linear-gradient(
		0deg,
		rgba(49, 49, 67, 1) 0%,
		rgba(49, 49, 67, 0.35) 100%
	);
}

.list {
	height: 100%;
	overflow-y: scroll;
}

.list::-webkit-scrollbar {
	width: 0px; /* Adjust as needed */
}

.list::-webkit-scrollbar-thumb {
	background-color: transparent !important;
}

.list {
	scrollbar-color: transparent transparent !important; /* thumb color and track color */
}

.list .list-contain {
	background-color: var(--full);
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	padding: 20px 30px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	justify-content: space-between;
}

.list .active {
	background-color: var(--main) !important;
}

.list .list-contain:hover {
	cursor: pointer;
}

.list .list-contain .info {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-left: 20px;
}

.list .list-contain .info h4,
.player-info h4 {
	font-size: 1.3rem;
	font-weight: 500;
	display: block;
	margin-bottom: 0;
	padding-bottom: 0;
	width: 100%;
}

.list .list-contain .info span,
.player-info span {
	font-size: 1.2rem;
	display: block;
	margin-bottom: 0;
	padding-bottom: 0;
	width: 100%;
	color: rgba(255, 255, 255, 0.4);
}

.list .list-contain .arrow {
	display: flex;
	align-items: center;
	opacity: 0.2;
	mix-blend-mode: luminosity;
}

.list .list-contain .arrow span {
	font-size: 28px;
}

.list .active .arrow,
.list .list-contain:hover .arrow {
	opacity: 1;
}

.list .list-contain .first {
	display: flex;
}

.thumb {
	aspect-ratio: 1;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	overflow: hidden;
	box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.4);
}

.thumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.list-thumb {
	padding: 0;
	aspect-ratio: 1;
	max-width: 80px;
	display: block;
	overflow: hidden;
	box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.4);
}

.list-thumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.player-info {
	display: flex;
	margin-top: 3rem;
	justify-content: space-between;
}

.player-info .text {
	text-align: center;
}

.btn-add,
.btn-favorite {
	display: flex;
	align-items: center;
}
.btn-add span,
.btn-favorite span {
	font-size: 31px;
}

.btn-add {
	color: white;
}

.btn-favorite span {
	color: rgb(255, 0, 102);
}

.time {
	margin-top: 4rem;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 8fr 1fr;
}

.time .timecontain {
	border-radius: 10rem;
	width: 100%;
	display: flex;
	height: 8px;
	background-color: rgba(0, 0, 0, 0.3);
}

.time .timeshow {
	background-color: white;
	border-radius: 10rem;
	width: 20%;
}

.time span:last-child {
	text-align: right;
}

.player-controls {
	margin-top: 4rem;
	display: flex;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
}

.btn-repeat,
.btn-play,
.btn-rewind,
.btn-forward,
.btn-shuffle {
	display: flex;
	align-items: center;
}

.btn-play span,
.btn-rewind span,
.btn-forward span {
	font-size: 3rem;
}

.btn-repeat span,
.btn-shuffle span {
	font-size: 2rem;
}

.btn-repeat {
	margin-right: 2rem;
}

.btn-shuffle {
	margin-left: 2rem;
}

.btn-play span {
	font-size: 5rem;
	margin-left: 1rem;
	margin-right: 1rem;
}
